@font-face {
  font-family: Poppins-Black;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(fonts/Poppins-SemiBold.ttf);
}
*{
  margin: 0;
}
body {
  background: linear-gradient(130.02deg, #628e75 0.66%, #1a4855 83.32%);
  box-shadow: 26px 24px 90px rgba(31, 26, 51, 0.13);
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: auto;
  margin-left: 2rem;
  margin-right: 7rem;
}
.header > .logo {
  height: 100%;
  margin-top: 10px;
}
.header > .logo > img {
  width: auto;
  height: 80%;
}
.header > .social-media > svg {
  color: #fff;
  margin-left: 10px;
  height: 5vh;
  width: auto;
}
.container__root {
  display: flex;
  justify-content: center;
  height: 85vh;
}
.container__root > .container__about {
  color: #fff;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.container__root > .container__about > .autor {
  font-family: Poppins-Medium;
  font-size: 20px;
}
.container__root > .container__about > .obra {
  font-family: Poppins-Bold;
  font-size: 69px;
}
.container__root > .container__about > .sobre {
  font-family: Poppins-Regular;
  font-size: 16px;
}
.container__root > .container__about >.buttons{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.container__root > .container__about >.buttons > button{
    height: 2.8rem;
    width: 14rem;
    transform: skewX(12deg);
    background-color: #658E76;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container__root > .container__about >.buttons > button:nth-child(2){
    border: 2px solid #658E76;
    background-color: transparent;
}
.container__root > .container__ilustration {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__root > .container__ilustration > img {
  width: 80%;
  height: auto;
  animation-name: flutuar;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes flutuar {
    from{
        opacity: 50%;
        transform: translateY(50px);
        
    }
    to{
        opacity: 100%;
        transform: translateY();
    }
}
@keyframes flutuar-mobile{
  from{
      opacity: 50%;
      transform: translateY(0px);
      
  }
  to{
      opacity: 100%;
      transform: translateY(-20px);
  }
}
@media only screen and ( max-width: 915px) {
  .container__root{
    flex-direction: column-reverse;
    height: 85vh;
  }
  .container__root > .container__ilustration > img {
    width: 50%;
    height: auto;
    animation-name: flutuar-mobile;  
  }
.container__root > .container__about >.buttons > button:nth-child(2){
    display: none;
}
.container__root > .container__about > .obra {
  font-size: 55px;
}
.header{
  margin-right: 5%;
}
.header > .logo > img {
  width: auto;
  height: 50%;
}
.header > .social-media > svg {
  color: #fff;
  margin-left: 10px;
  height: 4vh;
  width: auto;
}
.container__root > .container__ilustration{
  height: 20%;
}
}